extends layout

block content
  #objmap.container
    object(data="images/MUNMask.svg", type="image/svg+xml", id="svgmap", width="100%", height="100%")
  div(id="tooltip")
    #title
    #resources
  script(src='javascripts/setupmap.js')
