body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.map {
  margin:auto;
  min-width:25%;
  min-height:25%;
  width: 100%;
  height: 100%;
}

#svgmap {
  position: absolute;
  top: 0;
  left: 0;
}

#tooltip {
  z-index: 100;
  display: none;
  opacity: 1;
  background-color: #ffffff;
  border: 1px solid black;
  padding: 5px;
  position: absolute;
  width: 100px;
  height: 150px;
}
